{% if text != blank and text != '' %}
  <div class="product__callouts-item fs-body-75">
    {% if icon_svg != blank %}
      <span class="custom-svg"> {{ icon_svg }} </span>
    {%- elsif custom_icon_image != blank -%}
      {%-
        render 'image' with
        wrapper_class: "product__callouts-item-icon",
        image: custom_icon_image,
        sizes: "32px",
      -%}
    {%- else -%}
      {% if icon and icon != 'none' %}
        {% render 'icon-editorial' with class: "product__callouts-item-icon", icon: icon %}
      {% endif %}
    {%- endif -%}
    <div class="product__callouts-item-text rte">
      {{ text }}
    </div>
  </div>
{% endif %}
