<section class="collection-testimonial-sec">
  <div class="section coll-testimonial-main">
    <div class="coll-testimonial-title-inner">
      <div class="coll-testimonial-title">
        <h2 class="testimonial-heading ff-heading fs-heading-3-base section-introduction__heading">
          What Fencers Are Saying
        </h2>
      </div>
      <div class="read-more-testimonial desk-read-more-testimonial">
        <a href="#">Read more testimonials</a>
      </div>
    </div>
    <div class="coll-testimonial-detail">
      <div class="coll-testimonial-info">
        <div class="coll-testimonial-autor">
          <div class="testimonial-autor-img">
            <img src="https://cdn.shopify.com/s/files/1/0647/1915/9535/files/Ellipse_8.png?v=1718015367">
          </div>
          <div class="tesitmonial-autor-name">
            <p>Kaylynn Schleifer</p>
            <span>04/06/2024</span>
          </div>
        </div>
        <p class="testimonial-des">
          I recently bought these fencing shoes and they're fantastic. They offer excellent support, stability, and
          grip, perfect for quick movements. Highly recommended for any fencer!
        </p>
        <div class="testimonial-rating">
          <div class="testimonial-rating-img">
            <img src="https://cdn.shopify.com/s/files/1/0647/1915/9535/files/Frame_155.png?v=1718018108">
          </div>
          <div class="testimonial-rating-count">5.0</div>
        </div>
      </div>
      <div class="coll-testimonial-info">
        <div class="coll-testimonial-autor">
          <div class="testimonial-autor-img">
            <img src="https://cdn.shopify.com/s/files/1/0647/1915/9535/files/Ellipse_8_1.png?v=1718020827">
          </div>
          <div class="tesitmonial-autor-name">
            <p>Dulce Gouse</p>
            <span>04/06/2024</span>
          </div>
        </div>
        <p class="testimonial-des">
          I recently bought these fencing shoes and they're fantastic. They offer excellent support, stability, and
          grip, perfect for quick movements. Highly recommended for any fencer!
        </p>
        <div class="testimonial-rating">
          <div class="testimonial-rating-img">
            <img src="https://cdn.shopify.com/s/files/1/0647/1915/9535/files/Frame_155.png?v=1718018108">
          </div>
          <div class="testimonial-rating-count">5.0</div>
        </div>
      </div>
      <div class="coll-testimonial-info">
        <div class="coll-testimonial-autor">
          <div class="testimonial-autor-img">
            <img src="https://cdn.shopify.com/s/files/1/0647/1915/9535/files/Ellipse_8_2.png?v=1718020827">
          </div>
          <div class="tesitmonial-autor-name">
            <p>Alfonso Madsen</p>
            <span>04/06/2024</span>
          </div>
        </div>
        <p class="testimonial-des">
          I recently bought these fencing shoes and they're fantastic. They offer excellent support, stability, and
          grip, perfect for quick movements. Highly recommended for any fencer!
        </p>
        <div class="testimonial-rating">
          <div class="testimonial-rating-img">
            <img src="https://cdn.shopify.com/s/files/1/0647/1915/9535/files/Frame_155.png?v=1718018108">
          </div>
          <div class="testimonial-rating-count">5.0</div>
        </div>
      </div>
      <div class="coll-testimonial-info">
        <div class="coll-testimonial-autor">
          <div class="testimonial-autor-img">
            <img src="https://cdn.shopify.com/s/files/1/0647/1915/9535/files/Ellipse_8_2.png?v=1718020827">
          </div>
          <div class="tesitmonial-autor-name">
            <p>Alfonso Madsen</p>
            <span>04/06/2024</span>
          </div>
        </div>
        <p class="testimonial-des">
          I recently bought these fencing shoes and they're fantastic. They offer excellent support, stability, and
          grip, perfect for quick movements. Highly recommended for any fencer!
        </p>
        <div class="testimonial-rating">
          <div class="testimonial-rating-img">
            <img src="https://cdn.shopify.com/s/files/1/0647/1915/9535/files/Frame_155.png?v=1718018108">
          </div>
          <div class="testimonial-rating-count">5.0</div>
        </div>
      </div>
    </div>
    <div class="read-more-testimonial mobile-read-more-testimonial">
      <a href="#">Read more testimonials</a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Testimonial-sec",
  "settings": []
}
{% endschema %}
