{%- capture image_sizes -%}
            (min-width: 720px) calc(calc(50vw - clamp(18px, 3.3vw, 3.3vw)), calc(100vw - 80px)
        {%- endcapture -%}
{%- liquid
  assign prioritize_loading = false
  if section.index == 1
    assign prioritize_loading = true
  endif
  assign placeholder_aspect_ratio = 'square'
-%}
<div
  class="brand-logo"
  data-section-id="{{ section.id }}"
  data-section-type="brand-logo"
>
  <div class="section brand-div-inner">
    <h3>{{ section.settings.head }}</h3>
    <div class="brand-slider-2">
      {% for block in section.blocks %}
        {% if block.settings.image != blank %}
          <div>
            <div class="item">
              {%- render 'image',
                wrapper_class: 'lazyload',
                image: block.settings.image,
                sizes: image_sizes,
                animate: true,
                include_placeholder: true,
                animate: true,
                prioritize_loading: prioritize_loading,
                placeholder_natural_fallback_ratio: placeholder_aspect_ratio,
                placeholder_name: 'lifestyle-2'
              -%}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>


<style>
  .Community .section.brand-div-inner {
    max-width: 1200px !important;
    margin: 0 auto;
    padding: 0 15px !important;
}
  .Community .section.brand-div-inner  .brand-slider-2 .item img {
    aspect-ratio: 1;
    object-fit: contain;
}
  @media screen and (min-width: 750px) {
   .Community .section.brand-div-inner {
        padding: 0 50px !important;
    }
}
</style>
<script>
  $(document).ready(function() {
  $('.brand-slider-2').slick({
    autoplay: true,
    autoplaySpeed: 3000,
    infinite: true,
    slidesToShow: 1,
    slidesToScroll: 1
  });
});
</script>

{% schema %}
  {
    "name": "Home brand logo Section",
    "tag":"section",
    "settings": [
      {"id":"head", "type":"text", "label":"Heading"}
    ],

     "blocks":[
        {
          "type": "bannner", "name":"banner",
          "settings":[
            { "type":"image_picker", "id":"image", "label":"Logo" }
          ]
        }

    ],

"presets":[
  {"name":"Home brand logo Section", "category":"category"}
]

  }
{% endschema %}
