
<div class="contest-section">
  <header class="contest-header">
    <svg width="200" height="40" viewBox="0 0 200 40" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <rect width="200" height="40" fill="url(#pattern0_743_28370)"></rect>
      <defs>
        <pattern id="pattern0_743_28370" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_743_28370" transform="scale(0.005 0.025)"></use>
        </pattern>
        <image id="image0_743_28370" width="200" height="40" xlink:href="data:image/png;base64,..."></image>
      </defs>
    </svg>
    <h1 style="padding: 10px 0px; color:#FFF;">Mazars Challenge International Paris</h1>
  </header>

  <main class="contest-main">
    <section class="contest">
        <div class="klaviyo-form-XPMpCP"></div>      
    </section>
  </main>
</div>

<style>
  .contest-section {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    
  }
  #shopify-section-template--22662964216140__9ae087e0-8873-4db3-bcfd-bb9ef2295fb9
  {
    display:none;
  }

  .contest-header {
    background-color: #131212;
    color: white;
    text-align: center;
    padding: 10px;
  }

  .contest-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contest {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
  }

  .contest h2 {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
  }

  .contest .question {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .contest .answers label {
    display: block;
    margin: 10px 0;
    font-size: 16px;
  }
button.kl-private-reset-css-Xuajs1
  {
        justify-content: space-around !important;
  }
  .contest-footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }

  .klaviyo-form-QWxe2d {
    margin-top: 20px;
  }
  .contest-header 
</style>

{% schema %}
{
  "name": "Challenge",
  "settings": [],
  "presets": [
    {
      "name": "Mazars Challenge International de Paris"
    }
  ]
}
{% endschema %}
