<div class="single_image">
  {%- if section.settings.image != blank -%}
    {%- capture image_sizes -%}
            (min-width: 720px) calc(calc(50vw - clamp(18px, 3.3vw, 3.3vw)), calc(100vw - 80px)
        {%- endcapture -%}
    {%- liquid
      assign prioritize_loading = false
      if section.index == 1
        assign prioritize_loading = true
      endif
      assign placeholder_aspect_ratio = 'square'
    -%}
    {%- render 'image',
      wrapper_class: 'lazyload',
      image: section.settings.image,
      sizes: image_sizes,
      animate: true,
      include_placeholder: true,
      animate: true,
      prioritize_loading: prioritize_loading,
      placeholder_natural_fallback_ratio: placeholder_aspect_ratio,
      placeholder_name: 'lifestyle-2'
    -%}
  {%- else -%}
    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
  {%- endif -%}
</div>

<style></style>

{% schema %}
{
  "name": "Single Image",
  "class":"section",
  "settings": [
    {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
  }
  ],
"presets": [
  {
    "name": "Single Image"

  }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
