.rich-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
}

.rich-text.rich-text--full-width {
  max-width: initial;
  width: 100%;
}

.rich-text__blocks {
  margin: auto;
  /* 2.5rem margin on left & right */
  width: calc(100% - 50px / var(--font-body-scale));
}

.rich-text__blocks * {
  overflow-wrap: break-word;
}

.rich-text--full-width .rich-text__blocks {
  /* 4rem (1.5rem + 2.5rem) margin on left & right */
  width: calc(100% - 80px / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .rich-text__blocks {
    max-width: 500px;
  }

  .rich-text--full-width .rich-text__blocks {
    /* 7.5rem (5rem + 2.5rem) margin on left & right */
    width: calc(100% - 150px);
  }
}

@media screen and (min-width: 990px) {
  .rich-text__blocks {
    max-width: 780px;
  }
}

/* Blocks */

.rich-text__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.rich-text__blocks > * + * {
  margin-top: 20px;
}

.rich-text__blocks > * + a {
  margin-top: 30px;
}


.rich-text__blocks .h1{
  font-size: 40px;
  /* letter-spacing:0.6px; */
  line-height:52px;
  color:#000;
      font-family: Assistant, sans-serif;
  font-weight:400;
}
@media (max-width: 749px) {
  .rich-text__blocks .h1{
    font-size:30px;
    line-height:39px;
  }
}