#main .section{
  padding:0;
}

.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
}
.page-width.page_section {
    max-width: 1380px;
  margin: 0px auto;
}
@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
  .page-width.page_section {
    min-width: 340px;
  margin: 0px auto;
}
}
@media screen and ( max-width: 425px) {
    .page-width.page_section {
        max-width: 360px;
        margin: 0px auto;
              padding-left: 10px;
        padding-right: 10px;
    }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}
