:root{
  --media-below-480:(max-width: 479px);
  --media-above-480:(min-width: 480px);
  --media-below-720:(max-width: 719px);
  --media-above-720:(min-width: 720px);
  --media-below-960:(max-width: 959px);
  --media-above-960:(min-width: 960px);
  --media-below-1200:(max-width: 1199px);
  --media-above-1200:(min-width: 1200px);
  --media-below-1400:(max-width: 1399px);
  --media-above-1400:(min-width: 1400px);
  --max-width:1400px;
  --max-width-narrow:747px;
  --flyout-mobile-gap:var(--spacing-9);
  --flyout-width:calc(375px + var(--flyout-mobile-gap));
}
  @media (min-width: 720px){:root{
    --flyout-width:460px;
}
  }
  :root{

  --spacing-unit:4px;
  --spacing-unit-half:2px;

  --spacing-1:calc(var(--spacing-unit) * 1);
  --spacing-2:calc(var(--spacing-unit) * 2);
  --spacing-3:calc(var(--spacing-unit) * 3);
  --spacing-4:calc(var(--spacing-unit) * 4);
  --spacing-5:calc(var(--spacing-unit) * 5);
  --spacing-6:calc(var(--spacing-unit) * 6);
  --spacing-7:calc(var(--spacing-unit) * 7);
  --spacing-8:calc(var(--spacing-unit) * 8);
  --spacing-9:calc(var(--spacing-unit) * 9);
  --spacing-10:calc(var(--spacing-unit) * 10);
  --spacing-11:calc(var(--spacing-unit) * 11);
  --spacing-12:calc(var(--spacing-unit) * 12);
  --spacing-15:calc(var(--spacing-unit) * 15);
  --spacing-16:calc(var(--spacing-unit) * 16);
  --spacing-17:calc(var(--spacing-unit) * 17);
  --spacing-18:calc(var(--spacing-unit) * 18);
  --spacing-20:calc(var(--spacing-unit) * 20);
  --spacing-25:calc(var(--spacing-unit) * 25);
  --spacing-30:calc(var(--spacing-unit) * 30);

  --box-shadow:0px 4px 6px rgba(0, 0, 0, 0.06);
  --box-shadow-darker:0px 4px 6px rgba(0, 0, 0, 0.15);
  --box-shadow-double:0px 1px 2px rgba(0, 0, 0, 0.09), 0px 3px 8px rgba(0, 0, 0, 0.14);
  --box-shadow-offset-bottom:4px;

  --z-index-bar:300;
  --z-index-header:500;
  --z-index-announcement-bar:510;
  --z-index-drawers:520;
  --z-index-filter-bar-wash:400;
  --z-index-filter-bar:450;
  --z-index-popup:400;
  --z-index-modal-wash:1200;
  --z-index-modal:1300;
  --z-index-theme-editor-offset:2000;
  --z-index-page-transition-overlay:2100;
  --z-index-quick-search:480;
}
  @media (min-width: 960px){:root{
    --z-index-quick-search:520;
}
  }
  :root{

  --space-outer:3.3vw;
}
  @supports (padding: 0 clamp(18px, 3.3vw, 3.3vw)){
    @media (max-width: 719px){:root{
      --space-outer:max(18px, min(3.3vw, 3.3vw));
}
    }
  }
  :root{

  --height-input:48px;
  --quick-buy-button-height:60px;
  --easing:cubic-bezier(0.33, 0, 0, 1);
  --duration-ultra-fast:100ms;
  --duration-fast:300ms;
  --duration-normal:500ms;
  --duration-slow:1200ms;
  --delay-small:33ms;
  --delay-normal:67ms;
  --delay-long:133ms;
  --aspect-ratio-square:1;
  --aspect-ratio-portrait:2 / 3;
  --aspect-ratio-portrait-alt:4 / 5;
  --aspect-ratio-landscape:3 / 2;
  --aspect-ratio-landscape-alt:5 / 4;
  --aspect-ratio-widescreen:16 / 9;
  --aspect-ratio-ultrawide:21 / 9;
}
.blog__inner .blog__header{
    max-width:none;
    max-width:initial;
  }
.blog__rss{
  position:absolute;
  right:0;
  top:50%;
  transform:translateY(-50%);
}
.blog__nav{
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  margin-top:calc(4px * 5);
  margin-top:var(--spacing-5);
}
@media (min-width: 480px){
.blog__nav{
    margin-top:calc(4px * 4);
    margin-top:var(--spacing-4)
}
  }
.blog__nav-list{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  margin:0;
  padding:0;
  list-style:none;
}
@media (max-width: 719px){
.blog__nav-list{
    display:none
}
  }
.blog__nav-item{
  padding:calc(4px * 2) calc(4px * 3);
  padding:var(--spacing-2) var(--spacing-3);
}
.blog__nav-link{
  padding:calc(4px * 2) 0;
  padding:var(--spacing-2) 0;
  text-transform:capitalize;
  color:var(--color-text-meta);
}
.blog__nav-link.blog__nav-link--active{
    border-bottom:solid 2px currentColor;
    color:var(--color-text);
  }
@media (min-width: 720px){
.blog__nav-mobile--wrapper{
    display:none
}
  }
.blog__article-list{
  display:grid;
  grid-column-gap:calc(4px * 10);
  grid-column-gap:var(--spacing-10);
  -moz-column-gap:calc(4px * 10);
       column-gap:calc(4px * 10);
  -moz-column-gap:var(--spacing-10);
       column-gap:var(--spacing-10);
  grid-row-gap:calc(4px * 9);
  grid-row-gap:var(--spacing-9);
  row-gap:calc(4px * 9);
  row-gap:var(--spacing-9);
  margin:0;
  padding:calc(4px * 4) 0 0;
  padding:var(--spacing-4) 0 0;
  list-style:none;
}
@media (min-width: 720px){
.blog__article-list{
    grid-template-columns:repeat(2, 1fr)
}
  }
@media (min-width: 1200px){
.blog__article-list{
    -moz-column-gap:calc(4px * 5);
         column-gap:calc(4px * 5);
    -moz-column-gap:var(--spacing-5);
         column-gap:var(--spacing-5);
    row-gap:calc(4px * 12);
    row-gap:var(--spacing-12)
}
  }
.blog__article-item--featured{
  margin-bottom:calc(4px * 4);
  margin-bottom:var(--spacing-4);
  padding-bottom:calc(4px * 8);
  padding-bottom:var(--spacing-8);
  border-bottom:solid 1px var(--color-border);
}
@media (min-width: 720px){
.blog__article-item--featured{
    grid-column:1 / span 2;
    padding-bottom:calc(4px * 15);
    padding-bottom:var(--spacing-15)
}
  }
html.do-anim .animation.animation--blog.is-visible .article-item__content-inner > *,
    html.do-anim .animation.animation--blog.is-visible .animation--blog-header > *,
    html.do-anim .animation.animation--blog.is-visible .animation--blog-pagination > *{
      opacity:1;
      transform:none;
      transform:initial;
    }
html.do-anim .animation.animation--blog .animation--blog-header > *,
  html.do-anim .animation.animation--blog .animation--blog-pagination > *{
    --delay-amount:var(--delay-normal);
    --duration-amount:var(--duration-normal);
    opacity:0;
    transform:translateY(20px);
    transition:transform 500ms cubic-bezier(0.33, 0, 0, 1), opacity 500ms cubic-bezier(0.33, 0, 0, 1);
    transition:transform var(--duration-amount) var(--easing), opacity var(--duration-amount) var(--easing);
    transition-delay:calc(
    67ms * 0
  );
    transition-delay:calc(
    var(--delay-amount) * var(--delay-offset-multiplier, 0)
  );
  }
html.do-anim .animation.animation--blog .article-item__content-inner > *{
    --delay-amount:var(--delay-normal);
    --duration-amount:var(--duration-normal);
    opacity:0;
    transform:translateY(20px);
    transition:transform 500ms cubic-bezier(0.33, 0, 0, 1), opacity 500ms cubic-bezier(0.33, 0, 0, 1);
    transition:transform var(--duration-amount) var(--easing), opacity var(--duration-amount) var(--easing);
    transition-delay:calc(
    67ms * 0
  );
    transition-delay:calc(
    var(--delay-amount) * var(--delay-offset-multiplier, 0)
  );
  }
